
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.logincontainer{
  /*background-color: #545a2c; */
  background-image: url('./POLICE-LIGHTS-BACKGROUND.jpg'); 
  /*background-color:#050404; */
  background-size: cover;
  height: 100%;
}
.App-header {
  background-color:#CEC5C5; /*rgb(31, 28, 28);*/
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
